:root {
  --background: #F6F4F0;
  --primary-color: #ED1566;
  --secondary-color: #F4648E;
  --tertiary-color: #FACDCD;
  --font-primary: 'Roboto', sans-serif;
  --font-heading: 'Suez One', serif;
}

html, body {
  background: var(--background);
  font-family: var(--font-primary);
  font-size: 1rem;
}

h1, h2, h3, h4, p, a, b {
  user-select: none;
}

.header {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--tertiary-color);
}

.header * {
  flex: 1;
}

.header-logo {
  width: 18vw;
  margin: 0 0 0 1rem;
}

.header-link {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  margin: 1rem 2rem;
  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.filter-container {
  display: flex;
  flex-flow: row nowrap;
}

.txt-input {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 0.5rem 1.2rem;
  border-radius: 18px;
  border: none;
  font-family: var(--font-primary);
}

.searchbar {
  margin: 0.5rem;
}

.filter-txt {
  font-size: 0.8rem;
  cursor: pointer;
}

.pass-list-container {
  margin-bottom: 2rem;
}

.list-title {
  font-family: var(--font-heading);
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  width: 50vw;
  margin: 1.5rem auto;
  padding: 1.2rem;
  border-bottom: 8px solid var(--secondary-color);
}

.pass-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 80vw;
  height: 60vh;
  margin: 1rem auto 2rem auto;
  overflow: auto;
  overflow-x: hidden;
}

.pass-list::-webkit-scrollbar {
  display: none;
}

.pass-info-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.pass-info-container b span {
  cursor: pointer;
}

.pass {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 92%;
  background-color: var(--tertiary-color);
  padding: 0.7rem 1.5rem;
  margin: 0.5rem auto;
}

.overdue-pass {
  background-color: var(--secondary-color);
}

.pass p {
  margin: .5rem 1rem;
}

.footer {
  /* position: fixed;
  bottom: 0; */
  height: 5vh;
  width: 100%;
  background-color: var(--tertiary-color);
  /* opacity: 0.7; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
}

.footer-txt {
  font-family: var(--font-heading);
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form, .add-pass-form {
  background-color: var(--tertiary-color);
  border-radius: 18px;
  padding: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.login-form h2, .add-pass-form h2 {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  border-bottom: 3px solid var(--secondary-color);
}

.add-pass-form h2 {
  width: 50%;
}

.form-btn {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-primary);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  font-weight: 550;
  border-radius: 18px;
}

.add-pass-form {
  width: 60vw;
  margin: 1rem auto;
}

.add-form-btn {
  padding: 1rem;
  border: none;
}



/* media queries */
@media screen and (max-width: 1000px) {
  .header-logo {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .list-title {
    font-size: 2rem;
  }

  .pass-list {
    margin-bottom: 3rem;
  }

  .add-pass-form {
    width: 80vw;
  }

  .add-pass-form h2 {
    width: 80%;
  }

  .footer {
    height: 10vh;
  }
}

@media screen and (max-width: 580px) {
  .header {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-logo {
    margin: 0;
  }

  .txt-input {
    margin: 0 auto 1rem auto;
  }
}
